@model YourTV_WEB.Models.VideoViewModel
@{
    ViewBag.Title = "AddingVideo";
}
@Styles.Render("~/Content/dropzonecss")
@Styles.Render("~/Content/css")
<h2>AddingVideo</h2>

<div class="jumbotron">
    <div >
        <div >
            <form action="~/Playlist/UploadVideo" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/dropzonescripts")
@Scripts.Render("~/Scripts/VideoDropzoneUploader")