@model YourTV_WEB.Models.PlaylistsViewModel

@{
    ViewBag.Title = "Playlists";
}
@Styles.Render("~/Content/Site.css")

<h2>Playlists</h2>
<div class="row control-menu">
   <!-- <button class="btn btn-default playlist-create" id="btn-create-playlist" data-toggle="modal" data-target="#playlist-create">Create</button> -->
    @Html.ActionLink("Create", "AddingPlaylist", new { }, new { @class="btn btn-default playlist-create",  id="btn-create-playlist" })
</div>
<div class="row line-container">
    @foreach (var item in Model.Playlists)
    {
        <div class="fixed-box">
            <img src="~/Content/Images/DefaultPlaylist.png" alt="@item.Name"/>
            <p>@item.Name</p>
        </div>
    }
</div>

<div id="playlist-create" class="modal fade" >
    <div id="dialogContent" class="modal-dialog modal-sm">        
    </div>
</div>

<script src="@Url.Content("~/scripts/jquery-3.1.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/modalWin.js")" type="text/javascript"></script>

@Scripts.Render("~/bundles/jquery")
